.discountListContainer {
  min-width: 600px;
}

.discountListDescription {
  white-space: pre-line;
}

.discountGroupDescription {
  white-space: pre-line;
  font-weight: bold;
}

.discountGroupImage {
  max-width: 100px;
  max-height: 100px;
}

.discountHeading {
  font-size: 3rem;
  font-weight: bold;
}

.discountDescription {
  white-space: pre-line;
}

.footnote {
  white-space: pre-line;
}
